body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;

}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid;
  position: absolute;

}
.dancer.pole {
  color: pink;
  background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;


}
.blinkyDancer {
  border-radius:10px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: rgb(155, 58, 126);
  }
}

html,
body {
  height: 100%;
}



.dancer.break {
  height: 100px;
  width: 100px;
  background-color: red;
  animation:

    nudge 5s linear infinite alternate;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}
/* dancers go here to line up */
.lineups{
  align-content: center;
  border: 10px;
  height: 250px;
  background: white;
}
/* changing how dancers act when they line up */
.inLine {
  animation-play-state: paused;
  margin: 20px;
  position: static;

}

